<style>
  table.retention, p.explanation { width: 850px; }
  th, td { text-align: center; }
  th.day, td.percentage { width: 50px; }
  th.registered { width: 132px; }
</style>


<div class="container">
<h1>Cohort Metrics (Eastern Time)</h1>


<h2>Avg. Percentage of a User's Snapchat Friends Who are Registered</h2>

<p class="explanation text-muted">
  For each user who registered on a given date Y (first column) *and* came to the app on a given date X (first row), what percentage of his Snapchat friends are registered in SCP?
  Each user's percentage for a given registration and action date is calculated, and then those percentages are averaged.
</p>


<table class="retention table table-striped table-bordered">
  <tr>
    <th class="registered">Registered</th>
    <th colspan="<%= @days %>">Days Later</th>
  </tr>

  <tr>
    <th />

    <% @days.times do |days_later| %>
      <th class="day"><%= days_later %></th>
    <% end -%>
  </tr>

  <% (@days - 1).downto(0) do |i| %>
    <% registered_date = @today - i %>
    <tr>
      <th><%= registered_date %></th>

      <% @days.times do |j| %>
        <% action_date = registered_date + j %>

        <td class="percentage">
          <% if action_date <= @today -%>
            <% percentages = [] %>
            <% (@friend_counts[registered_date.to_s][action_date.to_s] || []).each do |user_id, hsh| -%>
              <% percentages << hsh['percent_registered'] %>
            <% end -%>
            <% percentages.compact! %>
            <% avg = percentages.sum / percentages.size if percentages.present? %>
            <%= avg.nil? ? '-' : avg.round.to_s + '%' -%>
          <% end -%>
        </td>
      <% end -%>
    </tr>
    <% end -%>
</table>


<br /><br />
<h2>Percentage of Sent Messages to SCP Recipients</h2>

<p class="explanation text-muted">
  Of all the messages sent on a given date X (first row) by users who registered on a given date Y (first column), what percentage of the recipients are registered in SCP (as opposed to Snapchat-only recipients)?
</p>


<table class="retention table table-striped table-bordered">
  <tr>
    <th class="registered">Registered</th>
    <th colspan="<%= @days %>">Days Later</th>
  </tr>

  <tr>
    <th />

    <% @days.times do |days_later| %>
      <th class="day"><%= days_later %></th>
    <% end -%>
  </tr>

  <% (@days - 1).downto(0) do |i| %>
    <% registered_date = @today - i %>
    <tr>
      <th><%= registered_date %></th>

      <% @days.times do |j| %>
        <% action_date = registered_date + j %>

        <td class="percentage">
          <% if action_date <= @today -%>
            <% percentage = (@sent["registered_on_#{registered_date}"] || {})["action_on_#{action_date}"] -%>
            <%= percentage.nil? ? '-' : percentage.round.to_s + '%' -%>
          <% end -%>
        </td>
      <% end -%>
    </tr>
    <% end -%>
</table>


<br /><br />
<h2>Percentage of Received Messages from SCP Senders</h2>

<p class="explanation text-muted">
  Of all the messages received on a given date X (first row) by users who registered on a given date Y (first column), what percentage of the senders are registered in SCP (as opposed to a Snapchat-only senders who sent from Snapchat)?
</p>


<table class="retention table table-striped table-bordered">
  <tr>
    <th class="registered">Registered</th>
    <th colspan="<%= @days %>">Days Later</th>
  </tr>

  <tr>
    <th />

    <% @days.times do |days_later| %>
      <th><%= days_later %></th>
    <% end -%>
  </tr>

  <% (@days - 1).downto(0) do |i| %>
    <% registered_date = @today - i %>
    <tr>
      <th><%= registered_date %></th>

      <% @days.times do |j| %>
        <% action_date = registered_date + j %>

        <% if action_date > @today %>
          <td />
        <% else -%>
          <% percentage = (@received["registered_on_#{registered_date}"] || {})["action_on_#{action_date}"] %>
          <td><%= percentage.nil? ? '-' : percentage.round.to_s + '%' %></td>
        <% end -%>
      <% end -%>
    </tr>
    <% end -%>
</table>

</div>
