<div class='admin-content'>

<div class='nav'>
  <%= link_to 'Back to Users', admin_users_path %>
</div>

<h3><%= @user.username %></h3>

<div>created: <%= admin_timestamp @user.created_at, time_ago: true %></div>
<div>
  emails:
  <%= @user.emails.pluck(:email).map {|e| mail_to(e, e) }.join(', ').html_safe %>
</div>
<% if @user.avatar_image %>
  <div><%= image_tag @user.avatar_url %></div>
<% end %>
<% if @user.avatar_video %>
  <div>
    <video controls>
      <source src='<%= @user.avatar_video_url %>'>
    </video>
  </div>
<% end %>
<% if @user.account.one_to_one_wallpaper_image %>
  <div><%= link_to '1-1 wallpaper', @user.account.one_to_one_wallpaper_url, target: '_blank' %></div>
<% end %>

<table class='table table-striped'>
  <tbody>
    <tr>
      <td>friends</td>
      <td>
        <%= @user.friend_ids.size %>
        <%= link_to 'See All', admin_user_friends_path(@user) %>
      </td>
    </tr>
  </tbody>
</table>

<div>
  This user...
  <table class='table table-striped'>
    <tbody>
      <tr>
        <td>was invited by another user?</td><td><%= "#{@user.invited?}".titleize %></td>
      </tr>
      <tr>
        <td>is deactivated?</td><td><%= "#{@user.deactivated}".titleize %></td>
      </tr>
    </tbody>
  </table>
</div>

<div>
  <% if @user.banned? %>
    <%= button_to 'Unban User', admin_unban_user_url(@user) %>
  <% else %>
    <%= button_to 'Ban User', admin_ban_user_url(@user) %>
  <% end -%>
</div>

</div>
