<div class='admin-content'>

<div class='nav'>
  <%= link_to 'Users', admin_users_path %>
  &gt;
  <%= link_to @user.username, admin_user_path(@user) %>
  &gt;
  friends
</div>

<h3><%= @user.username %>'s friends</h3>

<% if @friends.size > 0 %>
  <table class='table table-striped'>
    <tbody>
      <% @friends.each do |user| %>
        <tr>
          <td><%= link_to user.username, admin_user_path(user) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>
    None Found.
  </p>
<% end %>

<ul class='pagination'>
  <% if @offset > 0 %>
    <li><%= link_to 'First', admin_user_friends_path(@user) %></li>
  <% end %>
  <% if @offset > 0 %>
    <li><%= link_to 'Previous', admin_user_friends_path(@user, offset: @offset - @friends.size) %></li>
  <% end %>
  <% if @offset + @friends.size < @friends_count %>
    <li><%= link_to 'Next', admin_users_path(@user, offset: @offset + @friends_size) %></li>
  <% end %>
</ul>

</div>
