<div class='admin-content'>
<h1>SMS Stats</h1>


<h2>All Time</h2>

<table class="table table-striped table-bordered" style="width: 300px;">
  <tr>
    <th style="text-align: center;">Sent</th>
    <th style="text-align: center;">Received</th>
    <th style="text-align: center;">Errors</th>
  </tr>

  <tr>
    <td align="center"><%= number_with_delimiter(@all_time_sent_sms_count.to_i) %></td>
    <td align="center"><%= number_with_delimiter(@all_time_received_sms_count.to_i) %></td>
    <td align="center"><%= number_with_delimiter(@all_time_error_count.to_i) %></td>
  </tr>
</table>


<h2>Monthly</h2>

<table class="table table-striped table-bordered" style="width: 300px;">
  <tr>
    <th style="text-align: center;">Date</th>
    <th style="text-align: center;">Sent</th>
    <th style="text-align: center;">Received</th>
    <th style="text-align: center;">Errors</th>
  </tr>

  <% 3.times do |i| %>
  <% month = (@today - i.months).strftime('%Y-%m') %>
  <tr>
    <td align="center"><%= month %></td>
    <td align="center"><%= number_with_delimiter(@monthly_sent_sms_counts[month].to_i) %></td>
    <td align="center"><%= number_with_delimiter(@monthly_received_sms_counts[month].to_i) %></td>
    <td align="center"><%= number_with_delimiter(@monthly_error_counts[month].to_i) %></td>
  </tr>
  <% end -%>
</table>


<h2>Daily</h2>

<table class="table table-striped table-bordered" style="width: 300px;">
  <tr>
    <th style="text-align: center;">Date</th>
    <th style="text-align: center;">Sent</th>
    <th style="text-align: center;">Received</th>
    <th style="text-align: center;">Errors</th>
  </tr>

  <% 30.times do |i| %>
  <% date = (@today - i).to_s %>
  <tr>
    <td align="center"><%= date %></td>
    <td align="center"><%= number_with_delimiter(@daily_sent_sms_counts[date].to_i) %></td>
    <td align="center"><%= number_with_delimiter(@daily_received_sms_counts[date].to_i) %></td>
    <td align="center"><%= number_with_delimiter(@daily_error_counts[date].to_i) %></td>
  </tr>
  <% end -%>
</table>
</div>
