<!DOCTYPE html>
<html>
<head>
  <title><%= Rails.configuration.app['app_name'] %> Admin</title>
  <%#= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%#= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    "admin", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class='navbar navbar-default' role='navigation'>
    <div class='container-fluid'>
      <ul class='nav navbar-nav navbar-right'>
        <% if logged_in? %>
          <li class='<%= 'active' if params[:action] == 'cohort_metrics' %>'><%= link_to 'Cohort Metrics', admin_cohort_metrics_path %></li>
          <li class='<%= 'active' if params[:action] == 'sms_stats' %>'><%= link_to 'SMS Stats', admin_sms_stats_path %></li>
          <li class='<%= 'active' if params[:action] == 'users' %>'><%= link_to 'Users', admin_users_path %></li>
          <li class='<%= 'active' if params[:action] == 'app_reviews' %>'><%= link_to 'App Reviews', admin_app_reviews_path %></li>
          <li class='<%= 'active' if params[:action] == 'settings' %>'><%= link_to 'Settings', admin_settings_path %></li>
          <li><%= link_to 'Log Out', admin_logout_path %></li>
        <% else %>
          <li><%= link_to 'Log In', admin_login_path %></li>
        <% end %>
      </ul>
    </div>
  </nav>

  <% flash.each do |type, msg| %>
    <div class='alert <%= alert_class(type) %>'><%= msg %></div>
  <% end %>

<%= yield %>

</body>
</html>
